* {
	margin: 0;
	padding: 0;
	
	font-family: 'Montserrat', sans-serif;
}
body {
	/* background: #26004b; */
	background-color: #fcfcfc;
	position: absolute;
	width: 100%;
	overflow-x: hidden;
}

.body-login{
	background-color: #26004b;
	overflow: hidden;
}
a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 20px 30px;
    display: block;
}
/*HEADER */
header {
	display: flex;
	justify-content: space-between;
	height: 5rem;
	background: #26004b;
}

.img-perfil {
	display: flex;
	text-align: center;
	align-items: center;
	margin-right: 0.5rem;
	font-size: 1.5rem;
}

.img-perfil p:hover {
	color: #55d1d1;
}

.img-perfil span {
	font-weight: 900;
}

.img-perfil p {
	color: #fcfcfc;
}

.img-perfil img {
	height: 4rem;
	border-radius: 50%;
	margin-left: 2rem;
}

.logo {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;

}

.logo img {
	height: 4rem;
	margin-left: 1rem;

}
/*HEADER */


#screen-login{
	display: flex;
}
.container-login {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #55d1d1;
	height: 100vh;
	width: 50%;
	float: right;
}
.form-login {
	background-color: #fcfcfc;
	max-width: 400px;
	padding: 4.5em 6em;
	border-radius: 10px;
	box-shadow: 0px 5px 10px -5px rgb(0 0 0 /30%);
	text-align: center;
	margin-top: 3em;
	display: grid;
	gap: 2.5em;
}
.logo-login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 50%;
	
}

.logo-login img {
	
	width: 500px;
	
}

.login-title {
	font-size: 2rem;
	margin-bottom: .5em;
}

.login-paragraph {
	font-weight: 300;
}

.login-link {
	font-weight: 400;
	color: black;
	text-decoration: none;

}

.login-group {
	position: relative;
	--color: #5757577e;
}

.login-input{ 
	width: 100%;
	background: none;
	color: #706c6c;
	font-size: 1rem;
	padding: .6em .3em;
	border: none;
	outline: none;
	border-bottom: 1px solid var(--color);
}

.input-button input {
	width: 400px;
	height: 50px;
	border: none;
	background-color: #55d1d1;
	color: #fcfcfc;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 15px;
	position: absolute;
	transform: translate(-49%,-50%);

	
}

.input-button input:hover {
	background-color: #5179d5;
	cursor: pointer;
}
.login-label {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
/*BARRA LATERAL*/


.barra-nav{
	overflow-inline: auto;
	display: block;
	float: left;
	width: 20%;
    background: #26004b;
    height: 100vh;
}
.nav-father {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}
.nav-son {
	font-size: 14px;
}
.nav-grandson {
	font-size: 12px;
	color: black;
	text-align: center;
}
 aside > ul >li {
	display: block;
	width: auto;
} 

ul > li >a:hover{
    background: rgb(111, 222, 237);
	
}

.barra-nav ul li ul{
    background: #ffffff;
}

.barra-nav >ul >li >ul{
    background: #5b5b9c;
}

.barra-nav ul li ul {
    display: none;
}
.barra-nav ul li:hover >ul{
    display: block;
    }
/* FIN BARRA DE NAV /*

/* FOOTER*/

footer {
	height: 4rem;
	background-color: #26004b;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer p {
	color: #fcfcfc;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	
}

/*Aqui va las tablas, el contenido principal de cada pagina */
.main-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 93.2vh;
	width: auto;
	
	
}


.main-content img  {
	width: auto;
}


	

/*COTIZACION*/
.cotizacion-main {
	display: flex;
	

}
.container-makequote {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	width: 100%;
	grid-gap:10px;
	margin-left: 20px;
}
.container-makequote > div > input {
	border-style: none;
	height: 30px;
	background: #bcc6df;
	width: 300px;
	border-radius: 30px;
}
.container-makequote div label {
	font-weight: bold;
	color:#5b5b9c;
	
}

.container-makequote .main-title {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 4;
	text-align: center;
	background-color: #55d1d1;
	margin-left: -20px;
}

.container-makequote .data-quote {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 4;
	color: #26004b;
	font-size: 400;
}

