* {
    margin: 0;
    padding: 0;
}

#screen-login{
	display: flex;
}
.container-login {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #55d1d1;
	height: 100vh;
	width: 50%;
	float: right;
}
.form-login {
	background-color: #fcfcfc;
	max-width: 400px;
	padding: 4.5em 6em;
	border-radius: 10px;
	box-shadow: 0px 5px 10px -5px rgb(0 0 0 /30%);
	text-align: center;
	margin-top: 3em;
	display: grid;
	gap: 2.5em;
}
.logo-login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 50%;
	
}

.logo-login img {
	
	width: 500px;
	
}

.login-title {
	font-size: 2rem;
	margin-bottom: .5em;
}

.login-paragraph {
	font-weight: 300;
}

.login-link {
	font-weight: 400;
	color: black;
	text-decoration: none;

}

.login-group {
	position: relative;
	--color: #5757577e;
}

.login-input{ 
	width: 100%;
	background: none;
	color: #706c6c;
	font-size: 1rem;
	padding: .6em .3em;
	border: none;
	outline: none;
	border-bottom: 1px solid var(--color);
}

.input-button input {
	width: 400px;
	height: 50px;
	border: none;
	background-color: #55d1d1;
	color: #fcfcfc;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 15px;
	position: absolute;
	transform: translate(-49%,-50%);

	
}

.input-button input:hover {
	background-color: #5179d5;
	cursor: pointer;
}
.login-label {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    
}

a{
    text-decoration: none;
   
}

.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows:  auto 1fr auto;    

    grid-template-areas: "aside header   "
                         "aside  content   "
                         "aside  content   "
                         "aside  content   "
                         "aside  content  "
                         "aside footer  ";
}

/* HEADER */
.container .header {
    background: #26004b;
    grid-area: header;
    height: 50px;
}

.header__admin{
    font-weight: 600;
}
/* RIGHT HEADER */
.header__perfil {
    display: flex;
    align-items: center;
    float: right;
}

.header__text-welcome {
    color: #fff;
    margin-right: 20px;
    font-size: 20px;
}

.header__img-perfil {
    height: 40px;
    border-radius: 50px;
    border: solid 2px black;
    margin-right: 10px;
}

/* ASIDE */
.aside__logo {
    display: flex;
    justify-content: center;
   
}
.aside__img {
    width: 100px;
    min-width: 100px;
}
.aside {
    background: #26004b;
    grid-area: aside;
    font-size: 13px;
}

.aside__father {
    list-style: none;  
    margin-top: 10px;
}

.aside__father-link,
.aside__son-link {
    color: white;
    padding: 1em .7em;
    
    display: flex;
    align-items: center;
    position: relative;
}

.aside__father:has(:checked){
    --rows: 1fr;
}

.aside__father-check{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.aside__content{
    display: grid;
    grid-template-rows: var(--rows,0fr);
    transition: .7s grid-template-rows  ;
}


.aside__sub{
    overflow: hidden;
    list-style: none;
}
.aside__son{
    width: 85%;
    margin-left: auto;
    list-style: none;
}

.aside__son-link{
    display: block;
    padding: 1em 0;
    color: white;
}

/* FOOTER */
.footer {
    background: #26004b;
    grid-area: footer;
    height: 30px
}

	

/*COTIZACION*/
.cotizacion-main {
	display: flex;
	

}
.container-makequote {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	width: 100%;
	grid-gap:10px;
	margin-left: 20px;
}
.container-makequote > div > input {
	border-style: none;
	height: 30px;
	background: #bcc6df;
	width: 300px;
	border-radius: 30px;
}
.container-makequote div label {
	font-weight: bold;
	color:#5b5b9c;
	
}

.container-makequote .main-title {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 4;
	text-align: center;
	background-color: #55d1d1;
	margin-left: -20px;
}

.container-makequote .data-quote {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 4;
	color: #26004b;
	font-size: 400;
}

