{% extends "layout.html" %}
{% block title %}Clientes{% endblock %}
{% block content %}
    <section class="container__clientes">
        <div class="clientes">
            <div class="formulario_a">
                <a href="/"><img for="perfil" src="{{ url_for('static', filename='icons/flecha.png')}}" alt="imagen de regreso" class="flecha"></a>
                <h1 class="titulo__formulario_a">Base de datos Clientes</h1>
            </div>
            <div class="tabla__nav">

                <div class="tabla">
                    <label for="#documento" class="tabla__documento">Número de Documento<span class="span">*</span></label>
                    <input class="tabla__input"type="text" name="introducir_Cedula o Nit" id="Cedula o Nit" required="obligatorio" placeholder="Cedula o Nit">
                    <div class="icon__search">

                        <a  href=""><i  class=" fa-solid fa-magnifying-glass"></i></a>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            {% for category, message in messages%}
                                <div class="alert alert-{{category}}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            
                <div class="tabla__button-nav">
                    <button class="button__add">
                        <a href="{{url_for('cliente.registro_cliente')}}"><i class="fa-solid fa-plus" style="color: #ffffff;">&nbsp;</i>Añadir</a>
                    </button>
                </div>
            </div>
        <table class="tablaclientes">
            <thead>
                <tr>
                    <th>N° de Documento</th>
                    <th>T. Documento</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>T. de Persona</th>
                    <th>Telefono</th>
                    <th>Dirección</th>
                    <th>Ciudad</th>
                    <th>Email</th>
                    <th>Opciones</th>  
                </tr>
          </thead>
          <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{cliente.id_cliente}}</td>
                    <td>{{cliente.tipo_doc}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.tipo_persona}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td>{{cliente.direccion}}</td>
                    <td>{{cliente.ciudad}}</td>
                    <td>{{cliente.correo}}</td>
                    <td><a href="{{ url_for('cliente.actualizar_cliente', id_cliente=cliente.id_cliente)}}"><span class="fas fa-edit"></span></a><a href="{{url_for('cliente.eliminar_cliente',id_cliente=cliente.id_cliente)}}"><i class="fa-solid fa-trash" style="color: #190c4b;"></i></a></td>
                </tr>
                {% endfor %}
          </tbody>
       </table>
       
      </div>
  </div>
        </section>

{% endblock %}