{% extends "layout.html" %}
{% block title %}Clientes{% endblock %}
{% block content %}
    <section class="container__clientes">
        <div class="clientes">
            <div class="formulario_a">
                <a href="/"><img for="perfil" src="{{ url_for('static', filename='icons/flecha.png')}}" alt="imagen de regreso" class="flecha"></a>
                <h1 class="titulo__formulario_a">Base de datos Clientes</h1>
            </div>
            <div class="tabla__nav">

                <div class="tabla">
                    <label for="#documento" class="tabla__documento">Número de Documento<span class="span">*</span></label>
                    <input class="tabla__input"type="text" name="introducir_Cedula o Nit" id="Cedula o Nit" required="obligatorio" placeholder="Cedula o Nit">
                    <div class="icon__search">

                        <a  href=""><i  class=" fa-solid fa-magnifying-glass"></i></a>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            {% for category, message in messages%}
                                <div class="alert alert-{{category}}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            
                <div class="tabla__button-nav">
                    <button class="button__add" id="btn-abrir-modal">
                        <i class="fa-solid fa-plus" style="color: #ffffff;" >&nbsp;</i>Añadir
                        <!-- "{{url_for('cliente.registro_cliente')}}" -->
                    </button>
                </div>
            </div>
        <table class="tablaclientes">
            <thead>
                <tr>
                    <th>N° de Documento</th>
                    <th>T. Documento</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Dirección</th>
                    <th>Ciudad</th>
                    <th>Email</th>
                    <th>Opciones</th>  
                </tr>
          </thead>
          <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{cliente.id_cliente}}</td>
                    <td>{{cliente.tipo_doc}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td>{{cliente.direccion}}</td>
                    <td>{{cliente.ciudad}}</td>
                    <td>{{cliente.correo}}</td>
                    <td><a href="{{ url_for('cliente.actualizar_cliente', id_cliente=cliente.id_cliente)}}"><span class="fas fa-edit"></span></a><a href="{{url_for('cliente.eliminar_cliente',id_cliente=cliente.id_cliente)}}"><i class="fa-solid fa-trash" style="color: #190c4b;"></i></a></td>
                </tr>
                {% endfor %}
          </tbody>
       </table>
       <dialog id="modal">
        <form class="contact_form" action="/registrocliente" method="POST">
          <h1 class="titulo__formulario_modal">Registro clientes</h1>
          <label for="tipo_doc" class="seleccionar">Tipo de documento
              <span class="obligatorio">*</span>
          </label>
          <select class="seleccion" id="tipo_doc" name="tipo_doc">
              <option selected></option>
              <option value="CC">Cedula de ciudadania</option>
              <option value="NIT">Nit</option>
              <option value="CE">Cedula de Extrangeria</option>
              <option value="Pasaporte">Pasaporte</option>
          </select>
      
          <label for="id_cliente" class="colocar_documento">Número de documento
              <span class="obligatorio">*</span>
          </label>
          <input type="text" name="id_cliente" id="id_cliente" required="obligatorio" placeholder="Cedula o Nit">
      
          <label for="nombre" class="colocar_nombre">Nombres
              <span class="obligatorio">*</span>
          </label>
          <input type="text" name="nombre" id="nombre" required="obligatorio" placeholder="Escribe tu nombre">
      
          <label for="apellido" class="colocar_nombre">Apellidos
              <span class="obligatorio">*</span>
          </label>
          <input type="text" name="apellido" id="apellido" required="obligatorio" placeholder="Escribe tu apellido">
      
          <label for="telefono" class="colocar_telefono">Teléfono o celular
              <span class="obligatorio">*</span>
          </label>
          <input type="tel" name="telefono" id="telefono" placeholder="Escribe tu teléfono">
      
          <label for="correo" class="colocar_email">Email
              <span class="obligatorio">*</span>
          </label>
          <input type="email" name="correo" id="correo" required="obligatorio" placeholder="Escribe tu correo ">
      
          <label for="ciudad" class="colocar_Ciudad">Ciudad de residencia
              <span class="obligatorio">*</span>
          </label>
          <input type="text" name="ciudad" id="ciudad" required="obligatorio" placeholder="Ciudad ">
      
          <label for="direccion" class="colocar_Dirección">Dirección
              <span class="obligatorio">*</span>
          </label>
          <input type="text" name="direccion" id="direccion" required="obligatorio" placeholder="Escribe tu dirección.">
      
          <div class="guardar">
              <button class="guardar__button" type="submit" name="enviar_formulario" id="enviar">Guardar</button>
          </div>
          <div class="cerrar">
              <button id="btn-cerrar-modal" class="guardar__button" >Cerrar</button>
          </div>
          <div class="aviso">
              <span class="obligatorio"> * </span>los campos son obligatorios.
          </div>
      </form>
      </dialog>
        </section>
        
{% endblock %}