{% extends "layout.html" %}

{% block content %}
    <section class="container__clientes">
        <div class="clientes">

            <div class="encabezado__basedatos">
                
                <div class="encabezado__basedatos_flecha">
                    <a href="/" class="flecha"><i class="fa-solid fa-arrow-left"></i></a>
                </div>

                <div class="encabezado__basedatos_titulo">
                    <h1 class="titulo__basedatos">Materiales</h1>
                </div>
            </div>

            <div class="barra__nav">
                <div class="filtro">
                    <div class="tabla__filtro_documento">
                        <label for="#documento">Número de documento</label>
                    </div>
                    <div class="tabla__filtro_input">
                        <input type="text" name="introducir_Cedula o Nit" id="Cedula o Nit" required="obligatorio" placeholder="Cedula o Nit">
                        <div><a  href=""><i  class=" fa-solid fa-magnifying-glass"></i></a></div>
                    </div>
                   
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages%}
                        <div class="alert alert-{{ messages[0]['category'] }}" role="alert">
                            {{ messages[0] }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
                <div class="tabla__button-nav">
                    <button>
                        <a class="button__add" href="/registromaterial"><i class="fa-solid fa-plus" style="color: #ffffff;">&nbsp;</i>Añadir</a>
                    </button>
                </div>
                
            </div>
        <table class="tablaclientes">
            <thead>
                <tr>
                    
                    <th>id_material</th>
                    <th>id_proveedor</th>
                    <th>Nombre</th>
                    <th>tipo</th>
                    <th>forma</th>
                    <th>Calibre</th>
                    <th>Pulgada</th>
                    <th>Medidas</th>
                    <th>valor</th>
                    <th>opciones</th> 
                    
                </tr>
          </thead>
          <tbody>
                {% for material in materiales %}
                <tr>
                    <td>{{material.id_material}}</td>
                    <td>{{material.id_proveedor}}</td>
                    <td>{{material.nombre}}</td>
                    <td>{{material.tipo}}</td>
                    <td>{{material.forma}}</td>
                    <td>{{material.calibre}}</td>
                    <td>{{material.pulgada}}</td>
                    <td>{{material.medida}}</td>
                    <td>{{material.valor}}</td>
                    <td><a href="{{ url_for('material.actualizar_material', id_material=material.id_material) }}"><span
                    class="fas fa-edit"></span></a> <a href="{{url_for('material.eliminar_material',id_material=material.id_material)}}"><i class="fa-solid fa-trash" style="color: #190c4b;"></i></a>
                    </td>


                </tr>
                {% endfor %}
          </tbody>
    
       </table>
    
      </div>
  </div>
        </section>

{% endblock %}