{% extends "layout.html" %}

{% block content %}
    <section class="container__clientes">
        <div class="clientes">
            <div class="formulario_a">
                <a href="/"><img for="perfil" src="{{ url_for('static', filename='icons/flecha.png')}}" alt="imagen de regreso" class="flecha"></a>
                <h1 class="titulo__formulario_a">Materiales</h1>
            </div>
            <div class="tabla__nav">

                <div class="tabla">
                    <label for="#documento" class="tabla__documento">Código o Nombre<span class="span">*</span></label>
                    <input class="tabla__input"type="text" name="introducir_Cedula o Nit" id="Cedula o Nit" required="obligatorio" placeholder="Código o nombre">
                    <div class="icon__search">

                        <a  href=""><i  class=" fa-solid fa-magnifying-glass"></i></a>
                    </div>
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages%}
                        <div class="alert alert-{{ messages[0]['category'] }}" role="alert">
                            {{ messages[0] }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
                <div class="tabla__button-nav">
                    <button class="button__add">
                        <a href="/registromaterial"><i class="fa-solid fa-plus" style="color: #ffffff;">&nbsp;</i>Añadir</a>
                    </button>
                </div>
            </div>
        <table class="tablamateriales">
            <thead>
                <tr>
                    
                    <th>id_material</th>
                    <th>id_proveedor</th>
                    <th>Nombre</th>
                    <th>tipo</th>
                    <th>forma</th>
                    <th>Calibre</th>
                    <th>Pulgada</th>
                    <th>Medidas</th>
                    <th>valor</th>
                    <th>opciones</th> 
                    
                </tr>
          </thead>
          <tbody>
                {% for material in materiales %}
                <tr>
                    <td>{{material.id_material}}</td>
                    <td>{{material.id_proveedor}}</td>
                    <td>{{material.nombre}}</td>
                    <td>{{material.tipo}}</td>
                    <td>{{material.forma}}</td>
                    <td>{{material.calibre}}</td>
                    <td>{{material.pulgada}}</td>
                    <td>{{material.medida}}</td>
                    <td>{{material.valor}}</td>
                    <td><a href="{{ url_for('material.actualizar_material', id_material=material.id_material) }}"><span
                    class="fas fa-edit"></span></a> <a href="{{url_for('material.eliminar_material',id_material=material.id_material)}}"><i class="fa-solid fa-trash" style="color: #190c4b;"></i></a>
                    </td>


                </tr>
                {% endfor %}
          </tbody>
    
       </table>
    
      </div>
  </div>
        </section>

{% endblock %}