{% extends "layout.html" %}

{% block content %}

    <section class="container__clientes">
        <div class="clientes">
            <div class="formulario">
                <a href="/"><img for="perfil" src="{{ url_for('static', filename='icons/flecha.png')}}" alt="imagen de regreso" class="flecha"></a>
                <h1 class="titulo__formulario_a">Base de datos Proveedores</h1>
            </div>
            <div class="tabla__nav">

                <div class="tabla">
                    <label for="#documento" class="tabla__documento">Número de Documento<span class="span">*</span></label>
                    <input class="tabla__input"type="text" name="introducir_Cedula o Nit" id="Cedula o Nit" required="obligatorio" placeholder="Cedula o Nit">
                    <div class="icon__search">

                        <a  href=""><i  class=" fa-solid fa-magnifying-glass"></i></a>
                    </div>
                </div>
            
                <div class="tabla__button-nav">
                    <button class="button__add">
                        <a href="/registroproveedor"><i class="fa-solid fa-plus" style="color: #ffffff;">&nbsp;</i>Añadir</a>
                    </button>
                </div>
            </div>
        <table class="tablaclientes">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre Empresa</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Ciudad</th>
                    <th>Correo</th>
                    <th>Opciones</th> 
                </tr>
            </thead>
            <tbodody>
            {% for proveedor in proveedores %}
                <tr>
                    <td>{{proveedor.id_proveedor}}</td>
                    <td>{{proveedor.nombre}}</td>
                    <td>{{proveedor.telefono}}</td>
                    <td>{{proveedor.direccion}}</td>
                    <td>{{proveedor.ciudad}}</td>
                    <td>{{proveedor.correo}}</td>
                    <td><a href="{{url_for('proveedor.actualizar_proveedor', id_proveedor=proveedor.id_proveedor)}}"><span class="fas fa-edit"></span></a><a href="{{url_for('proveedor.eliminar_proveedor',id_proveedor=proveedor.id_proveedor)}}"><i class="fa-solid fa-trash" style="color: #190c4b;"></i></a></td>
                </tr>
            {% endfor %}
            </tbodody> 
       </table>
      
      </div>
  </div>
        </section>

{% endblock %}