{% extends "index.html" %}

{% block content %}
<form action="">
    <section class="misec">
        
        <div class="formulario_a">
            <a href="/materiales"><img for="perfil" src="{{ url_for('static', filename='icons/flecha.png')}}" alt="imagen de regreso" class="flecha"></a>     
            <h1 class="titulo__formulario_a">Registro de Material</h1>
          </div>
          
        <div class="formulario__rm">

            <label for="calibre" class="remateriales">Codigo
              </label>
                <input type="num" name="codigo" class="input_rmateriales" required="obligatorio">

            <label for="nombre" class="remateriales">Nombre
              </label>
                <input type="text" name="tipo" class="input_rmateriales" required="obligatorio">

            <label for="tipo" class="remateriales">Tipo
              </label>
                <input type="text" name="forma" class="input_rmateriales" required="obligatorio">

                <label for="forma" class="remateriales">Forma
              </label>
                <input type="text" name="calibre" class="input_rmateriales" required="obligatorio">

            <label for="calibre" class="remateriales">Calibre
              </label>
                <input type="num" name="pulgada" class="input_rmateriales" required="obligatorio">

            <label for="pulgada" class="remateriales">Pulgada
              </label>
                <input type="num" name="medida" class="input_rmateriales" required="obligatorio">

            <label for="medida" class="remateriales">Medida
              </label>
                <input type="text" name="proveedor" class="input_rmateriales" required="obligatorio">

            <label for="proveedor" class="remateriales">Proveedor
              </label>
                <input type="num" name="valor" class="input_rmateriales" required="obligatorio">

            <label for="valor" class="remateriales">Valor
              </label>
                <input type="text" name="descripcion" class="input_rmateriales" required="obligatorio">

            <label for="descripcion" class="remateriales">Descripcion
              </label>
                <input type="text" name="descripcion" class="input_rmateriales" required="obligatorio">

            <div class="guardar">
              <button  class="guardar__button" type="submit" name="enviar_formulario" id="enviar"><a class="enviar">Guardar</a></button>
            </div>

        </div>
        
    </section>
</form>

    
{% endblock %}
