{% extends "index.html" %}

{% block content %}

    <section class="container__registrocliente">
      <div class="contact_form">
          <div class="formulario">
            <a href="/clientes"><img for="perfil" src="{{ url_for('static', filename='icons/flecha.png')}}" alt="imagen de regreso" class="flecha"></a>     
              <h1 class="titulo__formulario">Registro de Clientes</h1>
          </div>
          
          <form action="{{ url_for('registrarForm') }}" method="POST">      
              <div class="columnas" >
                  <div>
                      <label for="Nombres" class="colocar_nombre">Nombres
                        <span class="obligatorio">*</span>
                      </label>
                      
                      <input type="text" name="Nombres" id="Nombres" required="obligatorio" placeholder="Escribe tu Nombre">
                  </div>
                  <div>
                        <label for="Apellidos" class="colocar_nombre">Apellidos
                          <span class="obligatorio">*</span>
                        </label>
                        <input type="text" name="Apellidos" id="Apellidos" required="obligatorio" placeholder="Escribe tu Apellido">
                  </div>
                  <div>
                        <label for="T_Documento" class="seleccionar">Tipo de Documento
                        <span class="obligatorio">*</span>
                      </label>
                      <select  class="seleccion" id="T_Documento" name="T_Documento">
                          <option value="Seleccionar"></option>
                          <option value="Cedula de ciudadania">Cedula de ciudadania</option>
                          <option value="Nit">Nit</option>
                          <option value="Cedula de Extrangeria">Cedula de Extrangeria</option>
                          <option value="Pasaporte">Pasaporte</option>
                      </select>
                  </div>
                  <div>
                      <label for="id_cliente" class="colocar_documento">Número de Documento
                        <span class="obligatorio">*</span>
                      </label>
                        <input type="text" name="id_cliente" id="id_cliente" required="obligatorio" placeholder="Cedula o Nit">
                  </div>
              </div>
        
            <div class="columnas">
              <div>
                  <label for="T_de_persona" class="colocar_tipo_persona">Tipo de Persona 
                    <span class="obligatorio">*</span>
                  </label>
                  <select  class="seleccion" id="T_de_persona" name="T_de_persona">
                    <option value="seleccional"></option>
                      <option value="Persona Natural">Persona Natural</option>
                      <option value="Persona Juridica">Persona Juridica</option>
                  </select>
              </div> 
              <div>
                <label for="N_de_Contacto" class="colocar_telefono">Teléfono o Celular
                  <span class="obligatorio">*</span>
                </label>
                  <input type="tel" name="N_de_Contacto" id="N_de_Contacto" placeholder="Escribe tu teléfono">
              </div> 
              <div>
                <label for="Email" class="colocar_email">Email
                  <span class="obligatorio">*</span>
                </label>
                  <input type="email" name="Email" id="Email" required="obligatorio" placeholder="Escribe tu Email">
              </div>
    
                  <div>
                    <label for="Ciudad" class="colocar_Ciudad">Ciudad Donde Resides
                      <span class="obligatorio">*</span>
                    </label>
                      <input type="text" name="Ciudad" id="Ciudad" required="obligatorio" placeholder="Escribe Ciudad donde Reside">
                  </div>    
                  <div>
                    <label for="Direccion" class="colocar_Dirección">Dirección donde Reside
                      <span class="obligatorio">*</span>
                    </label>
                      <input type="text" name="Direccion" id="Direccion" required="obligatorio" placeholder="Escribe Dirección de Residencia.">
                  </div>   
            </div> 
                  <div class="guardar">
                      <button  class="guardar__button" type="submit" name="enviar_formulario" id="enviar"><a class="enviar">Guardar</a></button>
                  </div>
                  <div class="aviso">
                    <span class="obligatorio"> * </span>los campos son obligatorios.
                  </div>          
            </form>
        </div>  
      </div>
    </section>

    
{% endblock %}